*, *:before, *:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    width: 100%;
    max-width: 1309px;
    margin: 0 auto;
    padding: 0 20px;

    &-second {
        max-width: 1420px;
    }
}

.first-screen {
    background: url("assets/images/first-screen.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: $color-white;
    position: relative;

    &__title {
        font-family: "Orchidea Pro", sans-serif;
        font-weight: 500;
        font-size: 44px;
        line-height: 50px;
        text-transform: uppercase;
        margin-bottom: 35px;
    }

    &__subtitle {
        font-size: 30px;
        line-height: 35px;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        max-width: 623px;
        flex-grow: 1;
    }

    &__msg {
        background: rgba(255, 255, 255, 0.8);
        border-radius: 10px;
        padding: 13px;
        display: inline-flex;
        align-items: center;
        max-width: 660px;

        &-img {
            margin-right: 16px;
        }

        &-text {
            max-width: 379px;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 27px;
            color: #373737;
        }

        &-btn {
            color: $primary-color;
            background: $secondary-color;
            border: none;
            padding: 12px 25px;
            border-radius: 10px;
            margin-left: auto;
            font-family: "Orchidea Pro", sans-serif;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            cursor: pointer;
        }
    }

    &__footer {
        margin-top: 131px;
        background: $secondary-color;
        padding: 48px 0;

        &-users {
            display: flex;
            flex-wrap: wrap;

            &__item {
                display: inline-flex;
                align-items: center;
                flex-basis: 33.33%;
            }

            &__text {
                font-family: "Roboto", sans-serif;
                font-weight: 400;
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 4px;
            }

            &__content {
                margin-left: 20px;
            }
        }
    }
}

.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 62px;
    margin-bottom: 100px;

    &-btn {
        color: $primary-color;
        border: 1px dashed $primary-color;
        border-radius: 10px;
        background: none;
        padding: 10px 20px;
        font-size: 20px;
        line-height: 23px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        cursor: pointer;
    }

    &-logo {
        display: flex;
        flex-wrap: wrap;
        align-items: center;

        &__link {
            color: $color-white;
            text-decoration: none;
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
            max-width: 213px;
        }

        &__svg {
            margin-right: 81px;
        }
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.first-col-1 {
    flex-basis: 59%;
    display: flex;
    flex-direction: column;
}

.first-col-2 {
    flex-basis: 41%;
}

.primary-color {
    color: $primary-color;
}

.register {
    background: rgba(13, 43, 109, 0.8);
    border-radius: 10px;
    padding: 50px 45px;

    &-title {
        text-align: center;
        color: $primary-color;
        font-family: "Orchidea Pro", sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 30px;
        line-height: 30px;
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &-input {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        padding: 16px 0 16px 19px;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background: $secondary-color;
        border: none;
        color: $color-white;

        &::placeholder {
            color: $color-white;
        }

        &:focus {
            outline: none;
        }
    }

    &-btn {
        width: 100%;
        background: $primary-color;
        border: none;
        padding: 18px 0;
        border-radius: 10px;
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 23px;
        cursor: pointer;
    }
}

.play-video {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 18px;
    cursor: pointer;
}

.problem {
    margin-top: 125px;
    margin-bottom: 100px;

    &-content {
        background: #F3F3F3;
        box-shadow: 4px 4px 4px rgba(83, 83, 83, 0.25);
        border-radius: 10px;
        padding: 60px 70px;
        position: relative;
    }

    &-arrow {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        bottom: -50px;
        width: 95px;
        height: 90px;
        border-radius: 100%;
        background: #D9D9D9;
        display: flex;
        justify-content: center;

        & svg {
            margin-top: 6px;
        }
    }

    &-title {
        font-family: "Orchidea Pro", sans-serif;
        font-weight: 500;
        font-size: 60px;
        line-height: 61px;
        text-transform: uppercase;
        color: #373737;
        text-align: center;
        margin-bottom: 44px;
    }

    &-row {
        display: flex;
        flex-wrap: wrap;
    }

    &-item {
        flex-basis: 25%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        padding: 0 10px;

        &__title {
            background: $secondary-color;
            width: 100%;
            border-radius: 10px;
            text-align: center;
            padding: 15px;
            margin-bottom: 40px;
            color: $primary-color;
            font-family: "Orchidea Pro", sans-serif;
            font-weight: 500;
            font-size: 30px;
            line-height: 30px;
            text-transform: uppercase;
            outline: 1px solid rgba(255, 255, 255, 0.5);
            outline-offset: -4px;
        }

        &__content {
            font-family: "Roboto", sans-serif;
            font-weight: 400;
            font-size: 20px;
            line-height: 26px;
            color: #373737;
        }
    }
}