
    <script src="assets/js/jquery-3.6.4.min.js"></script>
    <script src="assets/js/intlTelInput.min.js"></script>
    <script src="assets/js/app.js"></script>

    <div class="modal" id="video-modal" tabindex="-1">
        <div class="modal-dialog">
            <iframe src="https://www.youtube.com/embed/XZmGGAbHqa0" title="Inside a Google data center" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            <button class="modal-close">Close</button>
        </div>
    </div>

    @@include("analytics.html")
</body>
</html>