<div class="problem">
    <div class="container container-second">
        <div class="problem-content">
            <p class="problem-title">Problema</p>
            <div class="problem-row">
                <div class="problem-item">
                    <div class="problem-item__title">Problema 1</div>
                    <div class="problem-item__content">La povertà è un problema lobale che desideriamo risolvere definitivamente. Investendo <span class="primary-color">€ 250</span>, ci aiuterai all'istante a salvare la vita delle persone guadagnando!</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 2</div>
                    <div class="problem-item__content">Le grandi aziende sono le sole a poter erogare stipendi consistenti. Tuttavia, grazie al quantum computing, questa realtà sta per cambiare. Da oggi, sarai TU stesso l'artefice di un grande introito, grazie al potere che un tempo era riservato alle persone più ricche e che adesso appartiene anche a te.</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 3</div>
                    <div class="problem-item__content">QuantumAI è stato progettato per rendere il mondo un posto migliore. Elon ha sviluppato un'idea vantaggiosa per tutti. Hai prestiti da restituire o un mutuo da pagare? Desideri aiutare le persone? Ora potrai fare entrambe le cose.</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 4</div>
                    <div class="problem-item__content">Gestire l'economia di un Paese 
                        è una missione molto delicata. Come dimostrato dagli avvenimenti del 2008, bastano poche persone al vertice per rovinarla. Noi vogliamo impedire che ciò accada di nuovo.</div>
                </div>
            </div>
            <div class="problem-arrow">
                <svg width="90" height="90" viewBox="0 0 90 90" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M90 45C90 69.8528 69.8528 90 45 90C20.1472 90 0 69.8528 0 45C0 20.1472 20.1472 0 45 0C69.8528 0 90 20.1472 90 45Z" fill="#0D2B6D"/>
                <path d="M87 45C87 68.196 68.196 87 45 87C21.804 87 3 68.196 3 45C3 21.804 21.804 3 45 3C68.196 3 87 21.804 87 45Z" fill="#0D2B6D" stroke="white" stroke-opacity="0.5"/>
                <path d="M66 38.0754C66.0006 38.4599 65.8421 38.8288 65.5605 39.1004L46.0551 57.9503C45.7738 58.2221 45.3927 58.375 44.9948 58.375C44.597 58.375 44.2152 58.2221 43.9342 57.9503L24.4288 39.1004C23.853 38.533 23.8577 37.6225 24.4393 37.0604C25.0209 36.4987 25.9624 36.4939 26.5502 37.0503L44.9938 54.8741L63.4382 37.0495C63.8671 36.635 64.5126 36.511 65.0729 36.7354C65.6336 36.9598 65.9993 37.4885 65.9993 38.0748L66 38.0754Z" fill="white"/>
                </svg>                    
            </div>
        </div>
    </div>
</div>