<div class="problem">
    <div class="container container-second">
        <div class="problem-content">
            <p class="problem-title">Problema</p>
            <div class="problem-row">
                <div class="problem-item">
                    <div class="problem-item__title">Problema 1</div>
                    <div class="problem-item__content">La povertà è un problema lobale che desideriamo risolvere definitivamente. Investendo <span class="primary-color">€ 250</span>, ci aiuterai all'istante a salvare la vita delle persone guadagnando!</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 2</div>
                    <div class="problem-item__content">Le grandi aziende sono le sole a poter erogare stipendi consistenti. Tuttavia, grazie al quantum computing, questa realtà sta per cambiare. Da oggi, sarai TU stesso l'artefice di un grande introito, grazie al potere che un tempo era riservato alle persone più ricche e che adesso appartiene anche a te.</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 3</div>
                    <div class="problem-item__content">QuantumAI è stato progettato per rendere il mondo un posto migliore. Elon ha sviluppato un'idea vantaggiosa per tutti. Hai prestiti da restituire o un mutuo da pagare? Desideri aiutare le persone? Ora potrai fare entrambe le cose.</div>
                </div>
                <div class="problem-item">
                    <div class="problem-item__title">Problema 4</div>
                    <div class="problem-item__content">Gestire l'economia di un Paese 
                        è una missione molto delicata. Come dimostrato dagli avvenimenti del 2008, bastano poche persone al vertice per rovinarla. Noi vogliamo impedire che ciò accada di nuovo.</div>
                </div>
            </div>
        </div>
    </div>
</div>